

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#myCanvas{
    background-color: pink;
}

.main-content{
	overflow: hidden;
	width: 100%;
}

#mapholder{
	padding: 20px;
}
















